@import "tailwindcss";

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #020617; /* slate-950 */
  overflow: hidden;
}

/* Scrollbar oscuro compatible */
* {
  scrollbar-width: thin;
  scrollbar-color: #475569 #0f172a;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: #0f172a;
}

*::-webkit-scrollbar-thumb {
  background-color: #475569;
  border-radius: 4px;
}
