@import "tailwindcss";

/* Forzar altura completa y evitar desbordes en consolas / Smart TVs */
@media (hover: none) and (pointer: coarse) {
  html, body, #root {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #0a0a0c;
  }
}

